@import '../../colors/colors.scss';

.profile-p {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgba(115, 0, 0, 0.4);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .profile-header {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 2rem;
      color: white;
    }
  }

  .image {
    display: flex;
    justify-content: center;
    

    img {
      max-height: 350px;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .profile-details {
    margin-bottom: 2rem;

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      color: white;
      margin: 0.5rem 0;
    }
  }

  .profile-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      color: white;
      margin-bottom: 1rem;
      width: 100%;
    }

    .post-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .post {
        width: calc(50% - 1rem);
        margin-bottom: 1rem;
        background-color: rgba(255, 182, 193, 0.9); // Fondo rosa claro con opacidad
        border: 1px solid $border-color;
        border-radius: 8px;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .post-header {
          font-family: 'Roboto', sans-serif;
          font-size: 1rem;
          color: $text-color;
          text-align: center;
          margin-bottom: 0.5rem;
        }

        .post-caption {
          font-family: 'Roboto', sans-serif;
          font-size: 0.9rem;
          color: $text-color;
          margin-bottom: 0.5rem;
          text-align: center;
          display: flex;
          justify-content: space-between;
          width: 100%;

          input {
            flex: 1;
            margin-right: 0.5rem;
            padding: 0.25rem;
            border: 1px solid $border-color;
            border-radius: 4px;
          }

          .save-button,
          .cancel-button {
            margin-left: 0.5rem;
            padding: 0.25rem 0.5rem;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 0.8rem;
          }

          .save-button {
            background-color: $primary-color;
            color: $button-text-color;
          }

          .cancel-button {
            background-color: $link-hover-color;
            color: $button-text-color;
          }
        }

        .post-image {
          margin-bottom: 0.5rem;

          img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
          }
        }

        .post-location,
        .post-likes,
        .post-comments {
          font-family: 'Roboto', sans-serif;
          font-size: 0.8rem;
          color: $text-color;
          margin-bottom: 0.25rem;
          text-align: center;
        }

        .delete-button,
        .edit-button {
          margin-right: 0.5rem;
          padding: 0.25rem 0.5rem;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 0.8rem;
        }

        .delete-button {
          background-color: $button-background;
          color: $button-text-color;
        }

        .edit-button {
          background-color: $primary-color;
          color: $button-text-color;
        }
      }
    }
  }
}

.loading {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: $primary-color;
  margin-top: 2rem;
}

.no-posts {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: $text-color;
  text-align: center;
  margin-top: 2rem;
}
