@import '../../colors/colors.scss';

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;

  .post-card {
    background-color: rgba(115, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 1rem;

    h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 1.5rem;
      color: $button-text-color;
      text-align: left;
    }

    .post-image-container {
      height: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 182, 193, 0.3);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 1rem;
      border-radius: 8px;


      img {
        max-height: 350px;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    .post-caption {
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      color: $text-color;
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: center;
      text-align: center;

      h4 {
        border: 4px solid rgba(255, 182, 193, 0.5);
        padding: 3px;
        border-radius: 8px;
        color: white;
      }
    }

    .bg-like-comments {
      border-radius: 4px;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .interaction-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 0.5rem 0;

      .like-post,
      .dislike-post {
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;
        color: $text-color;
        display: flex;
        align-items: center;

        .anticon {
          margin-left: 0.5rem;
          cursor: pointer;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
    .flex-comments {
      
      color: grey;

    }
  }
}